*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

html, body, #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.MuiDataGrid-root, .MuiDataGrid-cell, .MuiDataGrid-columnHeader,
.MuiTable-root, .MuiTableCell-root, .MuiTableRow-root {
    font-family: 'Urbanist', sans-serif !important;
}

.home-section {
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 100%;
    min-width: 0;
}
